$wd-sm: 96vw;
$wd-md-lg: 72vw;

$bdr-rad: 10px;

$clr-bg: rgb(25,25,25);

$clr-text: white;

$clr-box-shadow: black;
$clr-box-shadow-act: rgb(250,250,250);
$box-shadow: 3.5px 5px 3px $clr-box-shadow;

$clr-nav-link-bg: rgb(200,200,200);
$clr-nav-link-bg-act: white;
$clr-nav-link-bg-hov: rgb(80,80,80);
$clr-nav-link-text: rgb(100,100,100);
$clr-nav-link-text-hov: white;

$clr-sticky-bg: rgb(50,50,50);
$clr-sticky-act:white;

$clr-link-text: rgb(150,150,150);
$clr-icon-link: rgb(130,130,130);

$clr-sec-bg: rgb(50,50,50);
$clr-sec-icon: $clr-icon-link;

$clr-footer-bg: rgb(60,60,60);

$font-stack: 'Open Sans', 'Inconsolata', sans-serif;
$fs-default:1.15rem;

$line-ht: 1.5;

