body{
	font-family:'Open Sans','Inconsolata',sans-serif;
	padding:5px;
	font-size:1.15rem;
}

header{
	background-image:url('assets/head.jpg');
	background-size:cover;
	min-height:20vh;
	border-radius:10px; 
	color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border: 3px solid black;
	text-shadow: 0 0 15px #000;
	display:none;
	box-shadow:0 0 7px rgb(10,10,30);
}

header h1{
	font-family: 'Rochester', cursive;
	font-size:300%;
}

.nav-link{
	display:inline-block;
}

.nav-link a{
	display:block;
	background-color:rgb(230,230,230);
	box-shadow: 0 0 10px blue;
	min-width:18vw;
	padding:7px;
	text-align:center;
	border-radius:5px;
	margin-right:1vw;
	font-style:none;
	margin-top:0;
	text-shadow: 0 0 5px rgb(150,150,150);
	font-size:1.08rem;
}

a{
	text-decoration:none;
	font-weight:bold;
}

.active a{
	background-color:white;
	border:1px solid yellow;
	box-shadow: 0 0 15px yellow;
}

.nav-link a:hover{
	background-color:rgb(150,150,220);
	color:white;
	border:1px solid white;
	box-shadow: 0 0 10px white;
}

section{
	background-color:rgb(252,244,255);
	padding-bottom: 2vh;
	padding-right:15px;
	padding-left:15px;
	padding-top:.5vh;
	border:2px solid black;
	border-radius:5px;
	margin: 2vh 0;
	display:none;
	box-shadow: 0 0 7px black;
}

.landing{
	display:block;
	background-image:url('/assets/head2.png');
	background-size:cover;
	border-radius:10px;
}

svg{
  position:absolute;
  top:50vh;
  left:50vw;
  transform: translate(-50%,-50%);
}

@keyframes textLoad{
	to{
		stroke-dashoffset:0;
	}
}
