body{
	font-family:'Open Sans','Inconsolata',sans-serif;
	padding:1vw;
	font-size:1.15rem;
	line-height:1.5;
}

header{
	background-image:url('assets/head.jpg');
	background-size:cover;
	min-height:20vh;
	border-radius:10px; 
	color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border: 3px solid black;
	text-shadow: 0 0 15px blue;
	display:none;
	box-shadow:0 0 10px rgb(10,10,30);
}

header h1{
	font-family: 'Rochester', cursive;
	font-size:3.5rem;
}

nav{
	margin-bottom:2vh;
}

.nav-link{
	display:inline-block;
}

.nav-link a{
	display:block;
	background-color:rgb(230,230,230);
	box-shadow: 0 0 10px blue;
	min-width:18vw;
	padding:7px;
	text-align:center;
	border-radius:5px;
	margin-right:1vw;
	font-style:none;
	margin-top:0;
	text-shadow: 0 0 5px rgb(200,200,250);
	font-size:1.08rem;
}

a{
	text-decoration:none;
	font-weight:bold;
}

.active a{
	background-color:white;
	border:1px solid yellow;
	box-shadow: 0 0 15px yellow;
}

.nav-link a:hover{
	background-color:rgb(150,150,220);
	color:white;
	border:1px solid white;
	box-shadow: 0 0 10px white;
}

#sticky-head{
	min-height:5vh;
	width:93vw;
	color: white;
	display:none;
	flex-direction:row;
	background-color:rgb(120,70,220);
	border: 3px solid black;
	border-radius:10px;
	padding: 1vh 0;
	align-items:flex-end;
	justify-content:center;
	box-shadow:0 0 7px black;
	position:fixed;
	top:0.8vh;
	opacity:.9;
}

#sticky-head:hover{
	opacity:1;
}

#sticky-head i{
	width:10vw;
	margin-right:10vw;
	margin-left:10vw;

}

section{
	background-color:rgb(252,244,255);
	padding-bottom: 25px;
	padding-right:15px;
	padding-left:15px;
	padding-top:1px;
	border:2px solid black;
	border-radius:5px;
	margin: 2vh 0;
	display:none;
	box-shadow: 0 0 7px black;
}

.landing{
	display:block;
	background-image:url('/assets/head2.png');
	background-size:cover;
	border-radius:10px;
}

svg{
	position:absolute;
	top:50vh;
	left:50vw;
	transform: translate(-50%,-50%);
}

@keyframes textLoad{
	to{
		stroke-dashoffset:0;
	}
}

footer{
	min-height:30vh;
	color: white;
	display:none;
	flex-direction:column;
	background-color:rgb(120,70,220);
	border: 3px solid black;
	border-radius:10px;
	padding: 2vh;
	align-items:center;
	justify-content:center;
	box-shadow:0 0 7px black;
	
}

.row{
	display:flex;
	width:94vw;
	padding:2vh;
	align-items:center;
	justify-content:center;
}

.left{
	width:47vw;
	text-shadow:0 0 12px black;
	display:flex;
	flex-direction:column;
	margin-left:2vh;
}

.left h2{
	margin-top:0vh;
}

.right{
	display:flex;
	width:47vw;
	justify-content:flex-end;
	
	align-items:center;
}

.right a{
	margin-right:2vw;
	color:rgb(10,10,100);
	
}

@media screen and (min-width:500px){
	header h1{
		font-size:5rem;
	}
}

.tab-desktop{
	display:flex;
	align-items:center;
	padding:4vh;
	line-height:1.8;
}

.mobile{
	display:block;
}

.tab-desktop .sec-head{
	width:30vw;
	padding-right:10vh;
}

.tab-desktop .sec-body{
	width:70vw;
}