:root{
	
	--wd-sm:96vw;
	--wd-md:80vw;
	
	--head-min-ht-sm:20vh;
	--sec-min-ht-md:33vh;
	
	
	--clr-bg: rgb(25,25,25);
	--clr-border: none;
	--clr-border-active: none;
	
	--clr-text-shadow: rgb(170,170,170);
	--clr-box-shadow: black;
	--clr-box-shadow-active: rgb(250,250,250);
	--box-shadow: 3px 3px 7px var(--clr-box-shadow);
	
	--clr-nav-link-bg: rgb(200,200,200);
	--clr-nav-link-bg-active: white;
	--clr-nav-link-bg-hover:rgb(80,80,80);
	--clr-nav-link-text: rgb(100,100,100);
	--clr-nav-link-text-hover: white;
	
	--clr-sticky-head-bg: rgb(50,50,50);
	--clr-sticky-head-active:white;
	
	--clr-link-text: rgb(150,150,150);

	--clr-icon-link: rgb(130,130,130);
	
	--clr-sec-bg: rgb(50,50,50);
	--clr-sec-text: white;
	--clr-sec-icon: var(--clr-icon-link);
	
	--clr-footer-bg: rgb(60,60,60);
	--clr-footer-text:white;
	--clr-footer-border: var(--clr-border);
}

*{
	box-sizing:border-box;
}

body{
	font-family:'Open Sans','Inconsolata',sans-serif;
	padding:1vw;
	font-size:1.15rem;
	line-height:1.5;
	margin:0 1px;
	width:var(--wd-sm);
	margin:0 auto;
	background: var(--clr-bg);
}

body *{
	transition:background 270ms ease-in-out,
			background-color 270ms ease-in-out,
			color 270ms ease-in-out;
}


@media screen and (min-width:768px){
	body{
		width:var(--wd-md);
	}
}

header{
	background-image:url('assets/head2.jpg');
	background-size:cover;
	min-height:20vh;
	max-width:var(--wd-sm);
	border-radius:10px; 
	color:white;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border: 3px solid var(--clr-border);
	text-shadow: 0 0 15px var(--clr-text-shadow);
	box-shadow: var(--box-shadow);
	display:none;
}

@media screen and (min-width:768px){
	header{
		max-width:var(--wd-md);
	}
}

header h1{
	font-family: 'Rochester', cursive;
	font-size:3.5rem;
}

a{
	text-decoration:none;
	font-weight:bold;
	color: var(--clr-link-text);
}

nav{
	margin-bottom:2vh;
}

.nav-link{
	display:inline-block;
}

.nav-link a{
	display:block;
	color: var(--clr-nav-link-text);
	background-color: var(--clr-nav-link-bg);
	min-width:calc(var(--wd-sm) / 4.5);
	padding:7px;
	text-align:center;
	border-radius:5px;
	margin-right:1vw;
	font-style:none;
	margin-top:0;
	text-shadow: 0 0 5px var(--clr-text-shadow);
	font-size:1.08rem;
}

@media screen and (min-width:768px){
	.nav-link a{
		min-width:calc(var(--wd-md) / 6);
	}
}

.active a{
	background-color: var(--clr-nav-link-bg-active);
	border:1px solid var(--clr-border-active);
	box-shadow: 0 0 15px var(--clr-box-shadow-active);
}

.nav-link a:hover{
	background-color: var(--clr-nav-link-bg-hover);
	color: var(--clr-nav-link-text-hover);
	border:1px solid white;
	box-shadow: 0 0 10px white;
	opacity:1;
}

#sticky-head{
	min-height:30px;
	width:calc(var(--wd-sm) - 2vw);
	display:none;
	flex-direction:row;
	background: var(--clr-sticky-head-bg);
	border: 3px solid var(--clr-border);
	border-radius:10px;
	justify-content:center;
	box-shadow:0 0 7px var(--clr-box-shadow);
	opacity:.9;
	position:fixed;
	top:0.8vh;
	z-index:10;
}

@media screen and (min-width:768px){
	#sticky-head{
		width:calc(var(--wd-md) - 2vw);
	}
}

#sticky-head:hover{
	opacity:1;
}

#sticky-head a{
	color: var(--clr-icon-link);
}

#sticky-head i{
	width:calc(var(--wd-sm) / 3 - 1vw);
	display:flex;
	justify-content:center;
}

@media screen and (min-width:768px){
	#sticky-head i{
		width:calc(var(--wd-md) / 3 - 1vw);
	}
}

#sticky-head .active{
	color: var(--clr-sticky-head-active);
}

section{
	background-color: var(--clr-sec-bg);
	color: var(--clr-sec-text);
	padding-bottom: 25px;
	padding-right:15px;
	padding-left:15px;
	padding-top:1px;
	min-height:33vh;
	border:3px solid var(--clr-border);
	border-radius:10px;
	margin: 2vh 0;
	box-shadow: var(--box-shadow);
	display:none;
}


section i{
	color: var(--clr-sec-icon);
	margin-bottom:10px;
}

.landing{
	display:block;
	background-image:url('/assets/landing.png');
	background-size:cover;
	border-radius:10px;
	height:100vh;
}

svg{
	position:absolute;
	top:50vh;
	left:50vw;
	transform: translate(-50%,-50%);
}

@keyframes textLoad{
	to{
		stroke-dashoffset:0;
	}
}

footer{
	min-height:30vh;
	color: var(--clr-footer-text);
	display:none;
	flex-direction:column;
	background: var(--clr-footer-bg);
	border: 3px solid var(--clr-footer-border);
	border-radius:10px;
	padding: 2vh;
	align-items:center;
	justify-content:center;
	box-shadow: var(--box-shadow);	
}

.row{
	display:flex;
	width:var(--wd-sm);
	padding:2vh 0;
	align-items:center;
	justify-content:center;
}

@media screen and (min-width:768px){
	.row{
		width:var(--wd-md);
	}
}

.row.to-top a{
	color:white;
	text-shadow:0 0 10px blue;
}

.left{
	width:calc(var(--wd-sm) / 2 - 4vw);
	display:flex;
	flex-direction:column;
}

@media screen and (min-width:768px){
	.left{
		width:calc(var(--wd-md) / 2 - 2vw);
	}
}

.left h2{
	margin-top:0vh;
}

.right{
	display:flex;
	width:calc(var(--wd-sm) / 2 - 4vw);
	justify-content:flex-end;
	align-items:center;
}

.right>*:nth-child(2){
	margin-right:5px;
}

@media screen and (min-width:768px){
	.right{
		width:calc(var(--wd-md) / 2 - 2vw);
	}
}

.right a{
	margin-right:2vw;
	color: var(--clr-icon-link);
	
}

@media screen and (min-width:500px){
	header h1{
		font-size:5rem;
	}
}

.tab-desktop{
	display:flex;
	align-items:center;
	padding:4vh;
	line-height:1.8;
}

.mobile{
	display:block;
}

.tab-desktop .sec-head{
	width:30vw;
	padding-right:10vh;
}

.tab-desktop .sec-body{
	width:70vw;
}

.content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.row.library{
	display:flex;
	max-width:calc(var(--wd-sm) - 5vw);
	align-items:center;
	justify-content:center;
	padding-top:0;
	padding-bottom:0;
}

@media screen and (min-width:768px){
	.row.library{
		max-width:calc(var(--wd-md) - 5vw);
	}
}

.row section{
	width:calc(var(--wd-sm) / 2);
	padding:20px;
	height:33vh;
	display:flex;
	align-items:center;
	justify-content:center;
	margin: 2vh 0;
}

@media screen and (min-width:768px){
	.row section{
		width:calc(var(--wd-md) / 2);
	}
}

.row section.left{
	margin-right:2vw;
}

.row .sec-body{
	display:flex;
	padding-bottom:1px;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.row .sec-icon{
	width:calc(var(--wd-sm) / 6);
	color: var(--clr-icon-link);
	display:flex;
	justify-content:center;
}

@media screen and (min-width:768px){
	.row .sec-icon{
		width: calc(var(--wd-md) / 6);
	}
}

.sec-title{
	text-align:center;
}

#bottom{
	min-width: 40vw;
	height:6vh;
	background: var(--clr-sticky-head-bg);
	color:white;
	position:fixed;
	top:90vh;
	left:55vw;
	border-radius:10000px;
	border:2px solid white;
	box-shadow:0 0 10px white;
	opacity:.75;
	display:none;
	justify-content:center;
	align-items:center;
}